<div class="social-icons-container container">
  <a href="" id="facebook" class="social-icon">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="" id="twitter" class="social-icon">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="" id="linkedin" class="social-icon">
    <i class="fa fa-linkedin"></i>
  </a>
  <a href="" id="mail-alt" class="social-icon">
    <i class="fa fa-envelope-o"></i>
  </a>
  <a href="" id="share-alt" class="social-icon">
    <i class="fa fa-share-alt"></i>
  </a>
</div>
<div class="container">
  <p class="copyright">&copy; Vatterott Consulting Group</p>
</div>
