<!-- about.njk -->
<section id="about" class="container">
  <div class="container" id="about-container">
    <h2 class="section-heading">Who We Are</h2>
    <div id="profiles">
      <div id="bill-profile" class="profile">
        <div class="profile-pic-container">
          <img class="profile-pic" src="/img/Bill.jpg" />
        </div>
        <h4 class="profile-name">William Vatterott</h4>
        <h5 class="profile-title">Vice President</h5>
      </div>
      <div id="sarah-profile" class="profile">
        <div class="profile-pic-container">
          <img class="profile-pic" src="/img/Sarah.jpg" />
        </div>
        <h4 class="profile-name">Sarah Vatterott</h4>
        <h5 class="profile-title">Owner</h5>
      </div>
      <div id="david-profile" class="profile">
        <div class="profile-pic-container">
          <img class="profile-pic" src="/img/David.jpg" />
        </div>
        <h4 class="profile-name">David M. Jackson</h4>
        <h5 class="profile-title">President</h5>
      </div>
  </div>
</section>