<!-- contact.njk -->
<section id="contact" class="container">
  <div id="contact-container" class="container">
    <h2 class="section-heading">Contact Us</h2>
    <div class="contact-options">
      <div id="phone" class="contact-option">
        <div class="option-icon">
          <i class="fa fa-phone"></i>
        </div>
        <p>Office Phone:<br>636-999-9999</p>
      </div>
      <div id="email" class="contact-option">
        <div class="option-icon">
          <i class="fa fa-send-o"></i>
        </div>
        <a href="mailto:bill@vcgstl.com"><p>bill@vcgstl.com</p></a>
      </div>
      <div id="mail" class="contact-option">
        <div class="option-icon">
          <i class="fa fa-envelope-o"></i>
        </div>
        <p>1234 Wallaby Lane<br>St. Charles, MO. 63301</p>
      </div>
    </div>
  </div>
</section>