<header class="title-bar">
  <div class="logo-box left">
    <div class="title">
      <img id="logo" class="logo" src="/img/Vatterott_Icon.png" />
      <span class="website-title name">Vatterott Consulting Group</span>
    </div>
  </div>
  <div class="menu-button-container right" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </div>
</header>
<app-main-menu [ngClass]="{open: menuOpen}" class="right"></app-main-menu>
<main id="content-main">
  <app-sections></app-sections>
  <app-footer></app-footer>
</main>