/* Import all vendor stylesheets here
 -------------------------------------------------------------*/
@import "../../node_modules/font-awesome/less/font-awesome.less";

/* Global App Styles
 -------------------------------------------------------------*/
@import "reset";
@import "vars";
@import "mixins";
@import "base";
@import "layout";

website-app {
  display: block;
  height: 100%;
  position: relative;
  perspective: 1500px;
  perspective-origin: 0% 50%;
  overflow: auto;
  z-index: 1;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: fade(@black, 85);
    display: block;
    z-index: 9;
    content: '';
    opacity: 0;
    transform: translate3d(-500px, 0, 0);
    transition-duration: 0.5s;
    transition-property: opacity, width, transform;
    transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }

  .media-query(@mobile, {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  });
}

.title-bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: @header-height;
  background: @background-swatch;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  overflow: hidden;
  backface-visibility: hidden;
}

.logo-box {
  height: 100%;
}

.title {
  height: 100%;
  padding: .25rem;
  padding-right: 0;
}

#logo {
  max-height: 100%;
}

.menu-button-container {
  padding: 1rem 1.25rem;
  cursor: pointer;
  font-size: 1.5rem;
}

#content-main {
  position: relative;
  height: 100%;
  margin-top: @header-height;
  background-color: @background-swatch;
  perspective: 1000px;
  z-index: 8;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

website-app.menuOpen {
  overflow: hidden;

  header {
    transform: translate3d(0, 0, 0);
  }

  #content-main {
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }

  &:after {
    width: ~"calc(100% - 300px)";
    opacity: 1;
    transform: translate3d(-300px, 0, 0);
    transition-duration: 0.5s;
    transition-property: opacity, width, transform;
    transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }
}