@import "vars";

:host {
  display: block;
  height: 450px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#top-section-container {
  padding: @spacing-unit / 2;
  text-align: center;
  background-color: fade(@blue-alt, 70%);
  color: @white;
  height: 100%;
}

.site-slogan {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 10rem;
  margin-top: 4rem;
}

.action-button {
  font-family: @sans-serif-font;
  color: @white;
  background: @red-color;
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-weight: 100;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
}