:host {
  display: block;
  position: fixed;
  right: 0;
  top: 60px;
  background: #f1f1f1;
  width: 300px;
  height: calc(100vh - 60px);
  z-index: 10;
  overflow-x: hidden;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 1;
  transform: translate3d(300px, 0, 0);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
:host.open {
  visibility: visible;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translate3d(0, 0, 0);
}
.section-link {
  display: block;
  position: relative;
  color: #212121;
  padding: 1em;
  font-size: 1.25em;
  transition: color 0.3s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.section-link:before,
.section-link:after {
  content: '';
  z-index: -1;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.section-link:before {
  border: 2px solid #112e51;
  opacity: 0;
  background: #205493;
  transform: scale3d(1.2, 1.2, 1);
  border-width: 1px;
  border-color: #205493;
}
.section-link:after {
  background: transparent;
}
.section-link:hover {
  color: white;
}
.section-link:hover:before {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.section-link:hover:after {
  opacity: 0;
  transform: scale3d(0.8, 0.8, 1);
}
