<h2 class="section-heading">Our Services</h2>
<div class="services">
  <div id="consultation" class="service">
    <div class="service-icon">
      <i class="fa fa-signing"></i>
    </div>
    <h4 class="service-label">Consultation</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div id="temp" class="service">
    <div class="service-icon">
      <i class="fa fa-briefcase"></i>
    </div>
    <h4 class="service-label">Temporary Hire</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div id="facilitation" class="service">
    <div class="service-icon">
      <i class="fa fa-group"></i>
    </div>
    <h4 class="service-label">Facilitation</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div id="formation" class="service">
    <div class="service-icon">
      <i class="fa fa-cubes"></i>
    </div>
    <h4 class="service-label">Board Formation</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>