@import "vars";
@import "mixins";

body {
  overflow: auto;
  z-index: 1;
  position: relative;
  height: 100%;
}

.container {
  padding: @spacing-unit / 2;
  max-width: 60rem;
  margin: 0 auto;

  .media-query(@tablet, {
    padding: @spacing-unit;
  });
}

.section-heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}