<!-- index.njk -->
{% extends "layout.njk" %}

{% block site %}
<div id="site">
  <header class="title-bar">
    <div class="title-actions-container container">
      <div class="logo-box left">
        <div class="title">
          <img id="logo" class="logo" src="/img/Vatterott_Icon.png" />
          <span class="website-title name">Vatterott Consulting Group</span>
        </div>
      </div>
      <div class="menu-button-container right" (click)="toggleMenu()">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
  {% include "partials/nav.njk" %}
  <main id="content-main">
    {% include "partials/top.njk" %}
    {% include "partials/services.njk" %}
    {% include "partials/about.njk" %}
    {% include "partials/contact.njk" %}
    {% include "partials/footer.njk" %}
  </main>
</div>
{% endblock %}